/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    /**
     * Everblush
     **/
    background: #0A1114;
    background-alt: #404749;
    background: #dadada;
    selected: #404749;
    active: #3b4244;
    urgent: #e57474;

    /**
     * Catppuccin
     **/
    background:     #181926ff;
    background-alt: #24273Aff;
    foreground:     #CAD3F5ff;
    selected:       #24273Aff;
    active:         #B7BDF8ff;
    urgent:         #ED8796ff;
}
