/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #181926ff;
    background-alt: #24273Aff;
    foreground:     #CAD3F5ff;
    selected:       #24273Aff;
    active:         #B7BDF8ff;
    urgent:         #ED8796ff;
}
